@import url(https://fonts.googleapis.com/css?family=Raleway);

/*** Fullscreen ***/
body {
    display: block;
    margin: 0px;
    font-family: Raleway;
}

/*** Header ***/
.navbar {
    overflow: hidden;
    background-color: #1C8B48;
    display: flex;
    height: 90px;
}

.menu {
    display: inline;
    margin-top: 30px;
    margin-left: 50px;
}

.logo {
    display:block;
    margin: auto;
    padding-right: 50px;
}

/** Home main **/

.title {
    width: 100%;
    height: auto;
    margin-top: 50px;
}

h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: #1C8B48;
}

.grid {
    display: flex;
}

.box {
    width: 30%;
    height: 300px;
    margin: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 2%;
    background-color: #D9D9D9;
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding-bottom: 50px;
}

.box-title {
    object-fit: cover;
    width: auto;
    height: fit-content;
    margin-top: -10px;
}

.box h2 {
    text-align: center;
    color: #1C8B48;
}

.box a {
    display: block;
    text-align: center;
    align-items: center;
    margin-bottom: 1em;
    transition: .3s;
    padding: 1em;
    background-color: rgb(235, 235, 235);
    color: #1C8B48;
    text-decoration: none;
}

.box a:hover{
    cursor:pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/** Preenchimento de formulários **/

.label {
    font-size: 16px;
    font-weight: 800;
    color: #1C8B48;
}

#fname {
    font-size: 14px;
    margin-bottom: 10px;
    width: 100%;
}

form button {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    color: white;
    padding: 15px 10px;
    background-color: #1C8B48;
    margin-top: 10px;
    padding-bottom: 10px;
}

.lista h3 {
    color: #1C8B48;
}

.lista-produtos {
    list-style-type: none;
}

/*** Footer ***/
.footer p {
    position: absolute;
    width: 100%;
    font-size: 16px;
    margin-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #1C8B48;
}

/*** Estilização de relatórios gerados pelo sistema ***/

.documento {
    position: relative;
    padding-top: 30px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 80px;
    background-color: white;
    box-shadow: 10px 10px 5px gray;
}

.docHeader {
    width: 100%;
    height: 135px;
    background-color: #1C8B48;
}

.docHeader h1 {
    padding-top: 75px;
    padding-left: 80px;
    padding-right: 80px;
    font-weight: ExtraBold 800;
    font-size: 32px;
    color: white;
}

.relatorio {
    margin: 80px;
}

.documento h3 {
    margin-top: 40px;
    font-weight: 700;
    font-size: 20px;
}

.documento p {
    margin-top: 5px;
    font-size: 16px;
}