<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        O que deseja fazer?
    </div>
    <button>
        <a href="{{ url_for('maisvendido') }}"> Apresentar o produto mais vendido </a>
    </button>
    <button>
        <a href="{{ url_for('osmaisvendidos') }}"> Apresentar os produtos mais vendidos </a>
    </button>
    <button>
        <a href="{{ url_for('totalDeVendas') }}"> Total de vendas realizadas(Quantidade/Valor)</a>
    </button>
    <button>
        <a href="{{ url_for('rank_de_produtos') }}"> Rank dos produtos </a>
    </button>
    <button>
        <a href="{{ url_for('consultar_vendas') }}"> Consulta de vendas </a>
    </button>
    <button>
        <a href="{{ url_for('limpar_tabela') }}"> Limpar tabela de vendas </a>
    </button>
        
</body>
</html>