<!DOCTYPE html>

<html lang pt-br>
    <head>
        <meta charset="utf-8">
        <title>Relatórios</title>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <header>
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"><img src="../../static/img/logo.png" alt="Sistema Orgânico"></a>
                </div>
            </div>   
        </header>

        <main>
            <div class="title">
                <h2>Selecione a opção desejada:</h2>
            </div>

            <div class="grid">
                <div class="box">
                    <div class="box-links">
                        <a href="{{ url_for('maisvendido') }}">Apresentar o produto mais vendido</a>
                        <a href="{{ url_for('osmaisvendidos') }}">Apresentar os produtos mais vendidos</a>
                        <a href="{{ url_for('totalDeVendas') }}">Total de vendas realizadas(Quantidade/Valor)</a>
                        <a href="{{ url_for('maisvendido') }}">Ranking dos produtos</a>
                        <a href="{{ url_for('maisvendido') }}">Limpar tabela de vendas</a>
                        <a href="{{ url_for('maisvendido') }}">Consulta de vendas</a>
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer">
            <p>Sistema Orgânico | Desenvolvido por Grupo Sorte | DIV 2022</p>
        </footer>
    </body>
</html>