<!DOCTYPE html>
<html lang pt-br>
    <head class="relatorio">
        <meta charset="utf-8">
        <title>Sistema Orgânico - Produto mais vendido</title>
        <link rel="stylesheet" href="../../static/css/style.css">
        <style>
            body {
              background-image: url("../../static/img/bg.png");
              background-size: 100%;
              background-repeat: repeat-y;
            }
        </style>
    </head>

    <body>
        <div class="documento">
            <div class="docHeader">
                <h1>Produto mais vendido</h1>
            </div>
            <div class="relatorio">
                <h3>{{ maisvendido }}</h3>
            </div>
        </div>
    </body>
</html>