<!DOCTYPE html>
<html lang pt-br>
    <head class="relatorio">
        <meta charset="utf-8">
        <title>Ranking</title>
        <link rel="stylesheet" href="css/style.css">
        <style>
            body {
              background-image: url("../../static/img/bg.png");
              background-size: 100%;
              background-repeat: repeat-y;
            }
        </style>
    </head>

    <body>
        <div class="documento">
            <div class="docHeader">
                <h1>Ranking</h1>
            </div>
            
            <div id="relatorio">
                <h3>O ranking dos produtos mais vendidos é:</h3>
                <p>{% for item in range(0,len) %}</p>
                <p>{{ item }} - Produto: {{ rank[item][0] }}, quantidade: {{ rank[item][1] }} e valor: R$ {{ rank[item][2] }} </p>
                <p>{% endfor %}</p>
            </div>

            <button>
                <a href="{{ url_for('index_rel') }}"> Voltar ao início </a>
            </button>
        </div>
    </body>
</html>