<!DOCTYPE html>
<html lang pt-br>
    <head class="relatorio">
        <meta charset="utf-8">
        <title>Total de vendas</title>
        <link rel="stylesheet" href="css/style.css">
        <style>
            body {
              background-image: url("../../static/img/bg.png");
              background-size: 100%;
              background-repeat: repeat-y;
            }
        </style>
    </head>

    <body>
        <div class="documento">
            <div class="docHeader">
                <h1>Ranking</h1>
            </div>
            
            <div id="relatorio">
                <p>Foram vendidos {{ quantidade[0] }} produtos, resultando no valor arrecadado de R$ {{ arrecadado[0] }}.</p>
            </div>

            <button>
                <a href="{{ url_for('index_rel') }}"> Voltar ao início </a>
            </button>
        </div>
    </body>
</html>